/*Import Family*/

//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
//
//@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap');

/*Font-Classes*/

%f-Headline{
  font: {
    family:Metropolis, sans-serif; // Bold
    size: 34px;
  }
  line-height: 34px;
  color: $color_white;
}
%f-Headline2{
  font: {
    family:Metropolis, sans-serif; //Semi Bold
    size: 24px;
  }
  line-height: 29px;
  color: $color_white;
}
%f-Headline3{
  font: {
    family:Metropolis, sans-serif; //Semi Bold
    size: 18px;
  }
  line-height: 22px;
  color: $color_white;
}
%f-Subheads{
  font: {
    family:Metropolis, sans-serif; //Semi Bold
    size: 16px;
  }
  line-height: 16px;
  color: $color_white;
}
%f-Text{
  font: {
    family:Metropolis, sans-serif; //regular
    size: 16px;
  }
  line-height: 16px;
  color: $color_white;

}
%f-Description{
  &-items{
    font: {
      family:Metropolis, sans-serif; //Medium
      size: 14px;
    }
    line-height: 20px;
  }
  &-text{
    font: {
      family:Metropolis, sans-serif; //regular
      size: 14px;
    }
    line-height: 21px;
    letter-spacing: -0.15px;
  }
}
%f-helpertext{
  font: {
    family:Metropolis, sans-serif; //regular
    size: 11px;
  }
  line-height: 11px;
  letter-spacing: -0.15px;
}


