/*Import Family*/

//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
//
//@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap');

//Constants

$weight_bold:700;

$weight_semi-bold:600;

$weight_medium:500;

$weight_regular:400;


/*Font-Selectors*/

%f{
  font-family:Metropolis, sans-serif;
  color: $color_white;
  &-Headline{
    font: {
      size: 34px;
      weight: $weight_bold;
    }
    line-height: 34px;
  }
  &-Headline2{
    font: {
      size: 24px;
      weight: $weight_semi-bold;
    }
    line-height: 29px;
  }
  &-Headline3{
    font: {
      size: 18px;
      weight: $weight_semi-bold;
    }
    line-height: 22px;
  }
  &-Subheads{
    font: {
      size: 16px;
      weight: $weight_semi-bold;
    }
    line-height: 16px;
  }
  &-Text{
    font: {
      size: 16px;
      weight: $weight_regular;
    }
    line-height: 16px;
  }
  &-Description{
    &-items{
      font: {
        size: 14px;
        weight: $weight_medium;
      }
      line-height: 20px;
    }
    &-text{
      font: {
        size: 14px;
        weight: $weight_regular;
      }
      line-height: 21px;
      letter-spacing: -0.15px;
    }
  }
  &-helpertext{
    font: {
      size: 11px;
      weight: $weight_regular;
    }
    line-height: 11px;
    letter-spacing: -0.15px;
  }
}




