// Colors
$color_white: #F7F7F7;

$color_gray: #ABB4BD;

$color_primary:  #EF3651;

$color_background: #1E1F28;

$color_dark: #2A2C36;

$color_sale: #FF3E3E;

$color_error: #FF2424;

$color_success: #55D85A;

//